$orange50: rgba(255, 242, 231, 1);
$orange100: rgba(255, 227, 205, 1);
$orange300: rgba(255, 172, 106, 1);
$orange500: rgba(255, 117, 6, 1);

$gray300: rgba(126, 125, 136, 1);
$gray400: rgba(83, 82, 97, 1);
$gray500: rgba(40, 39, 57, 1);
