@import "variable";
@import "./layout-admin-style/styles-index";
//---------------------------
//      RESET CSS           |
//---------------------------
html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font: {
    size: 1.6rem;
    weight: normal;
    family: Nunito, sans-serif;
  };
  line-height: normal;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: Nunito, sans-serif;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local("Nunito"), url("../../shared/assets/font/Nunito/Nunito-Black.ttf") format("truetype");
}
//---------------------------
//      CUSTOM ANTD          |
//---------------------------
/* Menu */
.ant-menu-item, .ant-menu-submenu-title {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  display: flex !important;
  align-items: center !important;
}

.ant-menu-submenu-selected {
  .ant-menu-submenu-title {
    background: $orange500;
  }
}

/* Pagination */
.ant-pagination-item-active {
  a {
    color: white !important;
  }
}

/* Form */
.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-1l9851f).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-24.ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-1l9851f).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xl-24.ant-form-item-label >label::after {
  visibility: visible;
}

[class*=" ant-form"] {
  font-weight: 600;
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

//---------------------------
//      UTILS           |
//---------------------------
.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.bg-orange-50 {
  background-color: $orange50;
}

.text-nowrap {
  text-wrap: nowrap;
}